body {
  font-family: sans-serif;
}

.container {
  display: flex;
  
}

.box {
  height: 100px;
  width: 100px;
  border: solid 1px black;
}

.circle {
  height: 100px;
  width: 100px;
  border: solid 1px black;
  border-radius: 50%;
}

.container div:nth-child(1) {
  background-color: limegreen;
}

.container div:nth-child(2) {
  background-color: red;
}
